<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= current_site && current_site.name || I18n.t('txt.beast_title', :default => 'Altered Beast') %><%= " - " + @page_title if @page_title %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
<script type="text/x-mathjax-config">
<!--//--><![CDATA[//><!--
  MathJax.Ajax.config.path["Contrib"] = "<%= asset_path 'MathJax' %>";
  MathJax.Hub.Config({
    MathML: { useMathMLspacing: true },
    "HTML-CSS": { scale: 90,
                  noReflows: false,
                  extensions: ["handle-floats.js"]
     }
  });
  MathJax.Hub.Queue( function () {
     var fos = document.getElementsByTagName('foreignObject');
     for (var i = 0; i < fos.length; i++) {
       MathJax.Hub.Typeset(fos[i]);
     }
  });
//--><!]]>
</script>
<script type="text/javascript">
  <!--//--><![CDATA[//><!--
  window.addEventListener("DOMContentLoaded", function () {
    var div = document.createElement('div');
    var math = document.createElementNS('http://www.w3.org/1998/Math/MathML', 'math');
    document.body.appendChild(div);
    div.appendChild(math);
  // Test for MathML support comparable to WebKit version https://trac.webkit.org/changeset/203640 or higher.
    div.setAttribute('style', 'font-style: italic');
    var mathml_unsupported = !(window.getComputedStyle(div.firstChild).getPropertyValue('font-style') === 'normal');
    div.parentNode.removeChild(div);
    if (mathml_unsupported) {
      // MathML does not seem to be supported...
      var s = document.createElement('script');
      s.src = "<%= asset_path 'MathJax/MathJax.js' %>?config=MML_HTMLorMML";
      document.querySelector('head').appendChild(s);
    } else {
      document.head.insertAdjacentHTML("beforeend", '<style>svg {max-width: 100%}</style>');
    }
  });
  //--><!]]>
</script>
    <% @feed_icons.each do |feed| %>
    <%= auto_discovery_link_tag :atom, feed[:url], :title => "Subscribe to '#{feed[:title]}'" %>
    <% end if @feed_icons.present? %>
    <link rel="search" type="application/opensearchdescription+xml" href="http://<%= request.host_with_port %>/open_search.xml" />
    <%= csrf_meta_tag %>
  </head>
  <body xmlns:se='http://svg-edit.googlecode.com' xmlns:xlink='http://www.w3.org/1999/xlink'>
    <div id="header">
      <%= render "layouts/head" %>
    </div>

    <div id="container">
      <div id="content">
        <%= flash_messages %>
        <%= yield %>
      </div>

      <div id="right">
        <%= yield(:right) %>
      </div>

      <br style="clear:both;" />
    </div>

    <div id="footer">
      <%= render "layouts/footer" %>
      <br style="clear:both;" />
    </div>
  </body>
</html>
